body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    margin-top: 30vh;
    width: 15vw;
}

.display {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    height: 25px;
    min-width: 300px;
}

.numpad {
    display: grid;
    margin-top: 3vh;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

button {
    background-color: white;
    border-radius: 10px;
    border: 0px;
    width: 50px;
    height: 50px;
}

button:hover {
    opacity: 75%;
}