body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    margin-top: 30vh;
    width: 20vw;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    background-color: white;
    color: black;
    font-size: 40px;
    border-radius: 15px;
    width: 15vw;
    height: 8vh;
}

.numpad {
    display: grid;
    margin-top: 5vh;
    grid-row-gap: 15px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 2vw);
}

button {
    width: 50px;
    height: 50px;
}